* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.first_page {
    width: 100%;
    background-image: url("img/header-bg.jpeg");
    background-attachment: fixed;
    background-color: #d03cff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1461px 1fr;
    grid-template-rows: auto;
    font-family: 'Gilam', sans-serif;
}

.header {
    display: flex;
    gap: 39px;
    justify-content: flex-end;
    padding-top: 46px;
}

.logo {
    color: white;
    flex-grow: 1;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 29px;
}

.icon_logo {
    background-image: url("img/logo.png");
    width: 33px;
    height: 33px;
    display: inline-block;
    vertical-align: bottom;
    background-size: cover;
}

.tel_number {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: white;
}

.tel_number span {
    color: #D6AF76;
}

.icon_tel {
    background-image: url("img/icon_phone.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: center;
    background-size: cover;
}

.tel {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    text-align: center;
    padding: 2px 10px;
}

.tel a {
    color: #E4B564;
}

.job_description_title, .job_description_text {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 128px;
}

.job_description_text {
    font-weight: 400;
    font-size: 20px;
    margin-top: 41px;
}

.job_description {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 468px);
    grid-gap: 30px;
    margin-top: 41px;
    margin-bottom: 80px;
}

.job_description1, .job_description2, .job_description3, .job_description4, .job_description5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 44px;
    padding-right: 44px;
}

.job_description1 {
    background-color: #634F2C;
}

.job_description2 {
    grid-column: span 2;
    background-color: #B4A385;
}

.job_description3 {
    background-color: #E4B564;
}

.job_description4 {
    background-color: #635A4A;
    grid-column: span 2;

}

.job_description5 {
    background-color: #B08C4D;
    grid-column: span 2;
}

.second_page {
    width: 100%;
    background-image: url("img/parallax-bg.jpeg");
    background-attachment: fixed;
    background-color: #E5E5E5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1461px 1fr;
    grid-template-rows: auto;
    font-family: 'Gilam', sans-serif;
}

.equipment_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 80px;
}

.equipment {
    width: 100%;
    height: 900px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(467px, 1fr));
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 30px;
    margin-top: 94px;
    margin-bottom: 191px;
}

.equipment_type1 {
    padding-top: 44px;
    background-color: #0E0E0E;
    grid-row: span 3;
    font-weight: 400;
}

.equipment_type2 {
    padding-top: 44px;
    background-color: #242424;
    grid-row: span 4;
    font-weight: 400;
}

.equipment_type3 {
    padding-top: 44px;
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: #1F1F1F;
}

.equipment_type4 {
    padding-top: 44px;
    background-color: #1F1F1F;
    grid-column: 1;
    grid-row: span 4;
}

.equipment_type5 {
    padding-top: 44px;
    background-color: #E4B564;
    grid-column: 2;
    grid-row: span 3;
    color: #000000;
}

.equipment_type6 {
    padding-top: 44px;
    background-color: #0E0E0E;
    grid-row: 3 / span 3;
    grid-column: 3;
}

.equipment_type7 {
    padding-top: 44px;
    background-color: #0A0909;
    grid-column: 3;
    grid-row: span 2;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.third_page {
    width: 100%;
    background-image: url("img/header-bg.jpeg");
    background-attachment: fixed;
    background-color: #0E0E0E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1461px 1fr;
    grid-template-rows: auto;
    font-family: 'Gilam', sans-serif;
}

.client_project {
    display: flex;
    justify-content: space-between;
    margin-top: 172px;
}

.client_project_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.project {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}

.project a {
    color: #E4B564;
}

.client {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    margin-top: 72px;
    margin-bottom: 238px;
    text-align: center;
}

.client_1, .client_2, .client_3, .client_4, .client_5, .client_6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client_1, .client_6 {
    background-color: #634F2C;
}

.client_1 img, .client_6 img {
    width: 185px;
    height: 49px;
}

.client_2 {
    background-color: rgba(232, 210, 171, 0.76);
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    flex-direction: column;
}

.client_2_logo {
    width: 62px;
    height: 55px;
}

.client_2_name {
    width: 139px;
    height: 55px;
}

.client_3 {
    background-color: #E4B564;
}

.client_3 img, .client_4 img {
    width: 190px;
    height: 42px;
}

.client_4 {
    background-color: #635A4A;
}

.client_5 {
    background-color: #B08C4D;
}

.client_5 img {
    width: 119px;
    height: 53px;
}

